.container {
    position: relative;
    display: inline-block;
}
.border {
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 5px solid red;
    box-sizing: border-box;
    pointer-events: none; /* 讓邊框不會影響點擊事件 */
}
.scale {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%); /* 確保元素在邊框的正中央 */
    width: 25px; /* 調整為垂直擺放 */
    height: 100px; /* 加大尺寸 */
    background: repeating-linear-gradient(
        to top,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5) 10px,
        rgba(255, 255, 255, 0.5) 10px,
        rgba(255, 255, 255, 0.5) 20px
    );
    border: 1px solid rgba(0, 0, 0, 0.5);
    pointer-events: none; /* 確保比例尺不會影響點擊事件 */
}
video {
    width: 100%;
    height: auto;
    display: block;
}
canvas {
    display: none;
}
img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
}
button#snap {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
button#snap-close {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}
button#snap-far {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
}